<div class="flex flex-col gap-2 p-4">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="what are you looking for?" (input)="onSearchInput($event)" />
    </mat-form-field>
    <mat-list>
        @for (account of filteredAccounts(); track account.id)
        {
        <mat-list-item>
            <mat-icon matListItemIcon>key_vertical</mat-icon>
            <div matListItemTitle class="truncate">{{ account.name }}</div>
            <div matListItemLine>{{account.username}}</div>
            <div matListItemMeta class="pt-3">
              <button mat-icon-button (click)="onEditButtonClick(account, $event)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
        @empty {
        <div class="flex flex-col items-center justify-center py-8">
            <mat-icon class="text-6xl !w-16 !h-16">info</mat-icon>
            <span class="text-gray-600 text-lg">
                Hey, I could not find any account, let's create a new one?
            </span>
        </div>
        }
    </mat-list>
</div>