<form #masterPasswordForm="ngForm" (ngSubmit)="onSubmit(masterPasswordForm)">
  <!-- Password -->
  <mat-form-field>
    <mat-label>Master Password</mat-label>
    <input
      matInput
      type="password"
      name="masterPassword"
      [(ngModel)]="masterPassword"
      required
    >
    @if(masterPasswordForm.submitted && masterPasswordForm.controls['masterPassword'].invalid){
      <mat-error>
        Please enter your master password.
      </mat-error>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="masterPasswordForm.invalid">
    Unlock
  </button>
</form>
