<div class="flex flex-row w-full h-screen">
  <div class="account-list w-1/2 p-4">
    <mat-list>
      <!--replace by id the track by the name can be edited-->
      @for (account of accounts(); track account.name)
      {
        <mat-list-item>
          <mat-icon matListItemIcon>key_vertical</mat-icon>
          <div matListItemTitle>{{ account.name }}</div>
          <div matListItemLine>{{account.username}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      }
      @empty {
        <div class="flex flex-col items-center justify-center p-8 text-center">
          <mat-icon>info</mat-icon>
          <span class="text-gray-600 text-lg">
            Hey let's get started, by creating a new account on your right panel
          </span>
        </div>
      }
    </mat-list>
  </div>
  <mat-divider [vertical]="true" class="h-full"></mat-divider>
  <div class="action-panel w-1/2 p-4 flex flex-col gap-4">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>account_circle</mat-icon>
      <input matInput placeholder="New account" [formControl]="accountNameControl"/>
      @if (accountNameControl.invalid){
        <mat-error>You must identify this account.</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>username</mat-label>
      <input matInput placeholder="user@example.com" [formControl]="usernameControl"/>
      @if (usernameControl.invalid){
        <mat-error>You must enter a username.</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput type="password" [formControl]="passwordControl"/>
      @if (passwordControl.invalid){
        <mat-error>You must enter a password.</mat-error>
      }
    </mat-form-field>
    <div class="flex justify-end">
      <button (click)="onSaveButtonClick()" mat-flat-button class="w-1/4"> 
        Save
      </button>
    </div>
  </div>
</div>
<router-outlet />
