<div [formGroup]="accountForm" class="p-4 flex flex-col gap-4">
    <mat-form-field>
        <mat-icon matPrefix>account_circle</mat-icon>
        <input matInput placeholder="New account" formControlName="accountName" />
        @if (accountNameControl?.invalid){
        <mat-error>You must identify this account.</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput placeholder="user@example.com" formControlName="username" />
        @if (usernameControl?.invalid){
        <mat-error>You must enter a username.</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
        <button mat-icon-button matSuffix (click)="onPasswordVisibilityButtonClick()">
          <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        @if (passwordControl?.invalid){
        <mat-error>You must enter a password.</mat-error>
        }
    </mat-form-field>
    <div class="flex justify-end gap-2">
        <button (click)="onNewAccountButtonClick()" mat-button>
            <mat-icon>add</mat-icon>
            New account
        </button>
        <button [disabled]="isFormInvalid()" (click)="onSaveButtonClick()" mat-flat-button>
            Save
        </button>
    </div>
</div>
